<!-- Generated template for the HousanbaodanComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>   

 <div>{{common.smallKind.bonus_note}} {{util.formatMoney(common.bonus)}} 元</div><div class="l-game" *ngFor="let data of common.ballData;let ii = index" >
    <div class="l">
        <p><span></span>{{data.key}}</p>
       
    </div>

    <div class="r">
        <div class="ball-list">
                <ul class="ball-choose">
                        <li *ngFor="let item of data.value.slice(0,5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i)">
                            {{i}}
                            <span class="tip-block">{{i}}</span>
                        </li>
                    </ul>

                    <ul class="ball-choose">
                        <li *ngFor="let item of data.value.slice(-5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,qqq(i))">
                            {{qqq(i)}}
                            <span class="tip-block">{{qqq(i)}}</span>
                        </li>
                    </ul>
        </div>
    </div>
</div>