<ion-header>
  <ion-navbar>
    <h2 class="DIY-title">追号记录</h2>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="lh-head">
    <div class="lh-Picker">
      <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="transData.timeStarts"></ion-datetime>
      <i class="firecat-icon dropdown-icon"></i>
    </div>
    <div class="mid-line"></div>
    <div class="lh-Picker">
      <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="transData.timeEnds"></ion-datetime>
      <i class="firecat-icon dropdown-icon"></i>
    </div>
    <div class="mid-line"></div>
    <div class="lh-Picker game-picker">
      <ion-item>
        <ion-select cancelText="取消" okText="确认" placeholder="{{currentLottory.friend_name}}" (ionChange)="selectChange(currentLottory)">
          <ion-label>{{currentLottory.friend_name}}</ion-label>
          <ion-option *ngFor="let lottory of lottorys" value="{{lottory.friend_name}}" (click)="selectLot(lottory)">{{lottory.friend_name}}</ion-option>
        </ion-select>
      </ion-item>
      <i class="firecat-icon dropdown-icon"></i>
    </div>
  </div>
  <div class="lh-body">
    <div class="switch-case case-withdraw">
      <div class="enpty" *ngIf="transData.data.length==0">
        <p>暂无可浏览记录</p>
      </div>
      <div class="month"  *ngIf="transData.data.length!=0">
        <div class="case-content switch-case">
          <div class="case-content-unit" *ngFor="let follow of followData.data;index as i">
            <div class="case-wrap">
              <p>编号：<span>{{follow.series}}</span></p>
              <p>{{follow.date}}</p>
            </div>
            <div class="case-wrap ball-wrap border-bottom">
              <p>金额：<span [ngClass]="{'green':follow.money<0,'red':follow.money>0}">{{follow.money>0?'+':''}}{{follow.money.toFixed(2)}}：</span></p>
              <p>{{follow.group}} {{follow.type}}</p>
            </div>
            <div class="case-wrap case-wrap-big">
              <p text-left>余额：<span>{{follow.rest_money}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
