page-bank-card {
  .no-bank-card-content{
    min-height: 100%;
    .no-bank-card-logo{
      margin: 59px auto 30px;
      width: 80px;
    }
    .no-bank-card-text{
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      text-align: center;
    }
    .submit-row{
      margin-top: 85px;
    }
  }
  .bank-card-content{
    .cf-row label{
      width: auto;
    }
    .cf-row input{
      height: 100%;
      font-size: 14px;
    }
    .select-input{
      background-repeat: no-repeat;
      background-size: 8px 15px;
      padding-right: 15px;
      text-align: right;
      background-position: right center;
      &::-webkit-input-placeholder{
        text-align: right;
        color: #999999;
      }
    }
  }

}

.bankList-model{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33,33,33,.5);
  z-index: 10000000;
  .bankList-model-content{
    height: 442px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    h4{
      height: 34px;
      line-height:33px;
      text-align: center;
      font-size: 14px;
      border-bottom: 1px solid #EAEAEA;
    }
    .bank-list{
      height: 408px;
      overflow: scroll;
      p{
        height: 31px;
        display: flex;
        padding: 0 16px;
        align-items: center;
        .firecat-icon {
          width: 36px;
          background-position: left center;
          height: 100%;
        }

        .s-bc-icon {
          background-size: 18px 19px;
        }

        .s-cb-icon {
          background-size: 23px 13px;
        }

        .s-ceb-icon {
          background-size: 23px 12px;
        }

        .s-cgb-icon {
          background-size: 16px 15.6px;
        }

        .s-CHAINABANK-icon, .s-ctbc-icon, .s-ccb-icon, .s-abc-icon, .s-cmb-icon, .s-psbc-icon {
          background-size: 18px 18px;
        }

        .s-cmbc-icon {
          background-size: 20px 17px;
        }

        .s-construtorbank-icon {
          background-size: 18px 19px;
        }

        .s-hxb-icon {
          background-size: 20px 18.7px;
        }
        .s-ib-icon {
          background-size: 20px 12.7px;
        }
        .s-pb-icon {
          background-size: 22px auto;
        }
      }
    }
  }
}


.disable-submit{
  background-color: #B4B4B4!important;
  color: #FFFFFF;
}


.alert-md .alert-head{
  padding: 10px 0;
  text-align: center;
}
.alert-md .alert-title{
  font-size: 16px;
}
.alert-md .alert-wrapper{
  border-radius: 10px;
  margin-top: 20%;
}
.alert-md .alert-input{
  margin: 3px 0;
  background-color: #FFFFFF;
  text-indent: 12px;
}
.alert-md .alert-input::-webkit-input-placeholder{
  text-indent: 12px;
  color: #999999;
}

.alert-md .alert-input-group{
  padding-bottom: 6px;
  border-bottom: 1px solid #EAEAEA;
}
.alert-md .alert-button-group{
  padding: 0;
  height: 47px;
  justify-content: space-between;
}
.alert-md .alert-button{
  flex: 1;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.alert-md .alert-button:first-child{
  border-right: 1px solid #EAEAEA;
}
.button-inner{
  justify-content: center!important;
}







