page-agreement {
  .agreement-content{
    text-align: center;
    padding: 0 16px;
    color: #333333;
    .ac-title{
      margin-top: 27px;
      font-weight: 500;
      font-size: 14px;
    }
    .ac-unit{
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
