<!-- Generated template for the QisanzhixuanhezhiComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>  

<div>{{common.smallKind.des}} {{common.bonus}} 元</div>
<div class="l-game" *ngFor="let data of common.ballData;let ii = index" >
                <div class="r" style="padding-right:10px">
                    <div class="ball-list">
                        <ul>
                            <li *ngFor="let item of data.value;let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i)" >{{ii*7 + i}}</li>
                        </ul>
                    
                        <!-- <div class="btn-list">
                            <a href="javascript:;" *ngFor="let detail of common.btn[ii];let j = index" [class.current]="detail.flag" >{{detail.name}} <span></span></a>
                        </div> -->
                    </div>
                </div>              
</div>

<div class="btn-list" style="margin:10px auto">
    <a href="javascript:;" *ngFor="let detail of common.singleBtn;let j = index" [class.current]="detail.flag" (click)="util.changeActive(null,j,detail.name)">{{detail.name}} <span></span></a>
 </div>

