<div>
  <div class="ssc-table">
    <div class="ssc-table-head">
      <div class="t-qihao">期号</div>
      <div class="t-qihao-list">
        <div>万位</div>
        <div>千位</div>
        <div>百位</div>
        <div>十位</div>
        <div>个位</div>
      </div>
    </div>
    <div class="ssc-table-body">
      <div class="ssc-table-wrap">
        <div class="t-qihao">12045期</div>
        <div class="t-qihao-list">
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
        </div>
      </div>
      <div class="ssc-table-wrap">
        <div class="t-qihao">12045期</div>
        <div class="t-qihao-list">
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
        </div>
      </div>
      <div class="ssc-table-wrap">
        <div class="t-qihao">12045期</div>
        <div class="t-qihao-list">
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
        </div>
      </div>
      <div class="ssc-table-wrap">
        <div class="t-qihao">12045期</div>
        <div class="t-qihao-list">
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
        </div>
      </div>
      <div class="ssc-table-wrap">
        <div class="t-qihao">12045期</div>
        <div class="t-qihao-list">
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
          <div class="big">大</div>
        </div>
      </div>
      <div class="ssc-table-wrap">
        <div class="t-qihao">12045期</div>
        <div class="t-qihao-list">
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
          <div class="small">小</div>
        </div>
      </div>
    </div>
  </div>
</div>
