ion-navbar.toolbar {
  height: 44px;
  box-sizing: border-box;
  //background-color: #F1C901;
}

.toolbar-background-ios, .toolbar-background-md {
  height: 45px;
  background-image: linear-gradient(137deg, #F3361B 0%, #EC6432 1%, #F5AD58 100%);
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios, .toolbar-background-md {
  border: none;
}

.toolbar-md {
  min-height: 44px;
}

.tabs-md .tab-button {
  min-height: 60px;
}

.color-dager {
  color: #F6374E;
}

* {
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.cl:after, .clearfix:after,.cl:before, .clearfix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.cl, .clearfix {
  zoom: 1
}

.back-button.show-back-button {
  color: #FFFFFF;
}

.content-ios, .content-md {
  background-color: #f1f1f1;
}

.toolbar-title {
  font-weight: normal;
  font-size: 16px;
  color: #FEF6F5;
  letter-spacing: 0;
  text-align: center;
}

.DIY-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  font-size: 16px;
  text-align: center;
  line-height: 44px;
  color: #FFFFFF;

}

.toolbar-content {
  height: 44px;
  position: relative;
}

.header-md::after {
  display: none;
}

.myBadge {
  border-radius: 50%;
  height: 18px;
  text-align: center;
  line-height: 15px;
  background-color: #FC302B;
  font-size: 12px;
  padding: 1px;
  display: block;
  color: #FFFFFF;
  font-style: normal;
}

//icons
.firecat-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}


//个人中心的icon
.kefu-icon {
  background-image: url(../assets/icon/kefu-icon.png);
}

.qrcode-icon {
  background-image: url(../assets/icon/qr-code-icon.png);
}

.msg-icon {
  background-image: url(../assets/icon/msg-icon.png);
}
.edit-name-icon{
  background-image: url("../assets/icon/edit-name-icon.png");
}
.edit-icon{
  background-image: url("../assets/icon/edit-icon.png");
}
.yue-icon{
  background-image: url("../assets/icon/yue-icon.png");
}
.jifen-icon{
  background-image: url("../assets/icon/jifen-icon.png");
}
.caijin-icon{
  background-image: url("../assets/icon/caijin-icon.png");
}
.charge-icon{
  background-image: url("../assets/icon/charge-icon.png");
}
.withdrew-icon{
  background-image: url("../assets/icon/withdrew-icon.png");
}
.tran-his-icon{
  background-image: url("../assets/icon/tran-his-icon.png");
}
.ltr-his-icon{
  background-image: url("../assets/icon/ltr-his-icon.png");
}
.follow-his-icon{
  background-image: url("../assets/icon/follow-his-icon.png");
}
.trans-detail-icon{
  background-image: url("../assets/icon/trans-detail-icon.png");
}
.lucky-task-icon{
  background-image: url("../assets/icon/lucky-task-icon.png");
}
.safe-cen-icon{
  background-image: url("../assets/icon/safe-cen-icon.png");
}
.push-set-icon{
  background-image: url("../assets/icon/push-set-icon.png");
}
.invite-icon{
  background-image: url("../assets/icon/invite-icon.png");
}
.more-icon{
  background-image: url("../assets/icon/more-icon.png");
}

.toRight-icon{
  width: 8px;
  height: 15.2px;
  background-image: url("../assets/icon/toRight-icon.png");
}

.small-dager-close-icon{
  background-image: url("../assets/icon/small-dager-close-icon.png");
}
.stick-icon{
  width: 12px;
  height: 12px;
  background-image: url("../assets/icon/stick-icon.png");
}
.dropdown-icon{
  background-image: url("../assets/icon/drop-down-icon.png");
}




.common-form{

  .cf-row{
    padding: 0 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height: 52px;
    display: flex;
    position: relative;
    label{
      font-size: 16px;
      color: #333333;
      width: 56px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    input{
      width: 100%;
      flex: 1;
      background-color: #FFFFFF!important;
      border: none;
      outline: none;
      text-indent: 12px;
      font-size: 16px;
    }
    .row-info{
      position: absolute;
      right: 16px;
      color: #F6374E;
      height: 100%;
      line-height:51px;
      .small-dager-close-icon{
        width: 12px;
        height: 12px;
        position: relative;
        top: 1px;
      }
    }
  }
  .submit-row{
    padding: 0 16px;
    margin-top: 35px;
    height: 47px;
    .submit-button{
      width: 100%;
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      height: 100%;
      background-color: #F98D4B;
      box-shadow: 0 2px 4px 0 #FFDFC4;
      border-radius: 3px;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: -0.29px;
      text-align: center;
    }
  }
  .common-form-info{
    margin-top: 18px;
    text-align: center;
    color: #666666;
    font-size: 12px;
    a{
      color: #3291FF;
      text-decoration-color: #3291FF;
      text-decoration: underline;
    }
  }
}

//ion-select默认样式去除
.ion-select{
  min-width: 100%;
  max-width: none;
}
ion-select{
  max-width: none;
  width: 100%;
  height: 100%;
}
.select-ios .select-icon{
  display: none;
}
.select-text{
  min-width: 100%;
  text-align: center;
  line-height: 40px;
  color: #333333;
  font-size: 14px;
}
.item-ios.item-block .item-inner{
  padding: 0;
  border: none;
}
.select-ios .select-placeholder{
  color: #333333;
}

page-lottory-history .lh-head .lh-Picker .item-block{
  padding: 0;
}
.select-ios{
  padding: 0;
}
.item-cover{
  padding: 0;
  text-align: center;
}
.select-md{
  padding: 0;
}

.alert-head,.alert-ios .alert-head{
  padding: 0;
}


//弹框的样式修改
.alert-title {
  color: #3e3e3e;
}

.alert-ios .alert-title {
  margin-top: 0;
}

.alert-ios .alert-head {
  padding-bottom: 0;
}

.alert-ios .alert-message, .alert-ios .alert-input-group {
  color: #4a4a4a;
  font-size: 1.5rem;
}

.alert-ios .alert-sub-title {
  color: #4a4a4a;
  font-size: 1.7rem;
}

.aaa {
  background: #fff;
  height: 100%;
}

.alert-ios [aria-checked=true] .alert-radio-label {
  color: #FE5600;
}

.alert-ios [aria-checked=true] .alert-radio-inner {
  border-color: #FE5600;
}

.alert-button-group .alert-button {
  color: #4a4a4a;
}

.alert-button-group .alert-button:last-child {
  color: #FE5600;
}

.alert-ios .alert-input {
  color: #000;
  margin-top: 5px;
}

// 阴影
.body-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

//modal


// .content-ios, .content-md {
//   background-color: #ffffff;
// }

// ion-slides{padding: 20px 0 20px 0;}
ion-app.md [padding] .scroll-content {
  padding: 0px;
}
ion-app.ios [padding] .scroll-content{
  padding: 0px;
}

//pop弹框
.popover-ios .popover-content {
  width: 84px;
}
.popover-content {
  overflow: visible;
}
