ion-navbar.toolbar{
  height: 47px;
  box-sizing: border-box;
  //background-color: #F1C901;
}
.toolbar-background-ios,.toolbar-background-md{
  background-image: linear-gradient(137deg, #F3361B 0%, #EC6432 1%, #F5AD58 100%);
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios,.toolbar-background-md{
  border:none;
}
.toolbar-md{
  min-height: 44px;
}
.tabs-md .tab-button{
  min-height: 60px;
}

.color-dager{
  color: #F6374E;
}
*{
  font-family: PingFangSC-Regular;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,li,p{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}

.cl:after, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.cl, .clearfix {
  zoom: 1
}
.back-button.show-back-button{
  color: #FFFFFF;
}
.content-ios,.content-md{
  background-color: #f1f1f1;
}
.toolbar-title{
  font-weight: normal;
  font-size: 16px;
  color: #FEF6F5;
  letter-spacing: 0;
  text-align: center;
}
