<div class="shakePhone" (click)="randomChoose()"></div>  

<div class="l-game" *ngFor="let data of common.ballData;let ii = index" >
    <div class="l">
        <p><span></span>{{data.key}}</p>
        <p style="margin-top:18px" *ngIf="check('当前遗漏')"><span></span>遗漏</p>
      
    </div>

    <div class="r">
        <div class="ball-list">
            <ul>
                <li *ngFor="let item of data.value.slice(0,5);let i = index" [class.current]="item == 1"  (click)="changeToggle(ii,i)">{{i}}</li>
            </ul>

            <ul class="yilou statistic" *ngIf="check('当前遗漏')">
                <li *ngFor ="let detail of util.yilou[data.key].slice(0,5)">{{detail}}</li>
            </ul>
            
            <ul class="lengre statistic" *ngIf="check('30期冷热')">
                <li *ngFor ="let detail of util.lengre[data.key].slice(0,5)">{{detail}}</li>
            </ul>

            <ul>
                <li *ngFor="let item of data.value.slice(-5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i+5)">{{qqq(i)}}</li>
            </ul>
            <ul class="yilou statistic" *ngIf="check('当前遗漏')">
                <li *ngFor ="let detail of util.yilou[data.key].slice(-5)">{{detail}}</li>
            </ul>

            <ul class="lengre statistic" *ngIf="check('30期冷热')">
                <li *ngFor ="let detail of util.lengre[data.key].slice(-5)">{{detail}}</li>
            </ul>

            <div class="btn-list">
                <a href="javascript:;" *ngFor="let detail of common.btn[ii];let j = index" [class.current]="detail.flag" 
                (click)="changeActive(ii,j,detail.name)">{{detail.name}} <span></span></a>

            </div>
        </div>
    </div>
</div>