<!-- Generated template for the FooterComponent component -->
<div class="ion-footer" >
    <tab-yuan ></tab-yuan>
    <div class="clear" (click)="clearData()"></div>
    <div class="tab-mode" (click)="common.openTab()" style="z-index:10">
        <div>{{common.tabYuan}}</div><div>模式</div>
    </div>
    <div id="bet-statistic" [class.can] = "common.count > 0" (click)="addToCart()">
        <div style="width:30px;padding-left:20px;line-height:50px;font-size:18px">+</div>
        <div style="padding-left:10px">
            <div style="height:25px;line-height:25px">已选{{common.count}}注</div>
            <div style="height:25px;line-height:25px">共{{common.betPrice}}元</div>
        </div>
    </div>
    <div class="basket" (click)="goToBasket()">
        <div class="bet-number" *ngIf="basket.betData.length"> {{basket.betData.length}}</div>

    </div>
  </div>
